@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@font-face {
    font-family: 'Wisdom - Script';
    src: url('../fonts/wisdom_script_aj-webfont.eot');
    src: url('../fonts/wisdom_script_aj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wisdom_script_aj-webfont.woff2') format('woff2'),
         url('../fonts/wisdom_script_aj-webfont.woff') format('woff'),
         url('../fonts/wisdom_script_aj-webfont.ttf') format('truetype'),
         url('../fonts/wisdom_script_aj-webfont.svg#wisdom_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
/* Header */
.wrapper {
	width: 1140px;
	margin: 0 auto;
}
.header .wrapper {
	display: flex;
	justify-content: space-between;
}
.header .logo {
	margin: 24px 0;
}
.header ul {
	display: flex;
	padding: 30px;
}
.header ul li {
	padding: 0 5px;
	line-height: 40px;
	cursor: pointer;
}
.header ul li:hover {
	color: #FF4B2B;
	transition: .2s ease;
}
.header .user>li:last-child {
	width: 40px;
	height: 40px;
	background: url(../img/user.svg) center no-repeat;
	cursor: inherit;
}
h1 {
color: #616161;
font-family: "Wisdom - Script";
font-size: 35px;
font-weight: 400;
line-height: 27px;
}
h1 span {
	color: #fc5f45;
}
/* About */
.about {
	background: url(../img/background.png) center no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}
.about:before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0,.2);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.about__info {
	color: #17205d;
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 85px;
	padding: 175px 0 50px 0;
}
.about__work {
	border-radius: 25px;
	background-color: #fc5f45;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 80px;
	text-transform: uppercase;
	padding: 19px 41px;
}
.about__skill {
	display: flex;
	justify-content: space-around;
	padding: 100px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 80px;
	text-transform: uppercase;
}
.about .skill__one {
	color: #38c695;
	position: relative;
}
.about .skill__one:before {
	content: "";
	width: 40px;
	height: 40px;
	left: 50%;
	top: -40px;
	transform: translate(-20px);
	position: absolute;
	background: url(../img/skill_1.svg);
}
.about .skill__two {
	color: #b27cf5;
	position: relative;
}
.about .skill__two:before {
	content: "";
	width: 40px;
	height: 40px;
	left: 50%;
	top: -40px;
	transform: translate(-20px);
	position: absolute;
	background: url(../img/skill_2.svg);
}
.about .skill__three {
	color: #feb960;
	position: relative;
}
.about .skill__three:before {
	content: "";
	width: 40px;
	height: 40px;
	left: 50%;
	top: -40px;
	transform: translate(-20px);
	position: absolute;
	background: url(../img/skill_3.svg);
}
/* Portfolio */
.portfolio {
	text-align: center;
}
.portfolio p:first-child {
	color: #313131;
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 80px;
	padding: 145px 0 40px;
}
.portfolio p:nth-child(2) {
	color: #616161;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 80px;
	padding-bottom: 80px;
}
.portfolio__link {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 150px;
}
.portfolio__link li {
	width: 360px;
	height: 290px;
	background: url(../img/bakerybo.jpg) no-repeat;
	margin: 5px;
}
/* Footer */
footer {
	background-color: rgba(38, 39, 50, 0.85);
	padding: 50px 0;
}
footer .wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__contact {
	display: flex;
	justify-content: space-between;
}
h3 {
color: #fef4f2;
font-family: "Wisdom - Script";
font-size: 50px;
font-weight: 400;
line-height: 27px;
}
h3 span {
	color: #fc5f45;
}
.footer__contact li {
	width: 200px;
	margin-right: 50px;
}
.footer__local p:first-child {
	color: #38c695;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 30px;
}
.footer__local p:last-child {
	color: #fef4f2;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
}
.footer__link p {
	font-family: 'Poppins', sans-serif;
	color: #feb960;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
}
.footer__social {
	display: flex;
	flex-wrap: wrap;
}

/* ================================================================================= */
#signup {
    max-width: 295px;
    margin: 100px auto;
    padding-bottom: 20px;
    text-align:center;
    background: #fff;
    display:none;
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
}
.container input[type="text"], input[type="password"],  input[type="email"]{
    border:none;
    width: 180px;
    height: 30px;
    margin-bottom: 12px;
    padding-left: 10px;
    color: #000000;
	font-family: 'Libre Franklin', sans-serif;
	background-color: #eee;
}
#submit {
    padding: 10px 30px;
    background-color: #3f0a63a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Libre Franklin', sans-serif;
}
#submit:hover {
    transition: all 0.5s;
    background: #f9bcbc;
    color: #052a42;
}
.container_img {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 50%;
    background: url(../img/user.svg) center no-repeat;
}
.container_img_center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -100px 0 0 -100px;
    overflow: hidden;
	border-radius: 50%;
	transform: translate(25px, 25px);
}
.container_img_center span {
    position: absolute;
    width: 1000em;
    height: 100%;
    margin-left: -500em;
}
.container_img_center span img {
    height: 100%;
    vertical-align: bottom;
    opacity:0;
}
/*Fail*/
.get_file .form-group{
    margin:1em;
}
.get_file input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
    max-width: 0em;
}
.get_file .label{
    width:100px;
    border:2px dashed #16389c;
    border-radius:5px;
    display:block;
    transition:border 300ms ease;
    cursor:pointer;
	text-align:center;
	margin: 0 auto;
}
.get_file .label i,.get_file .label .title{
    color:#16389c;
    transition:200ms color;
    font-family: 'Libre Franklin', sans-serif;
}
.get_file .label:hover{
    border:2px solid #000;
}
.get_file .label:hover i,.get_file .label:hover .title{
    color:#000;
}